{% extends '@localgov_theme/system/page.html.twig' %}

{% block header %}
  {% include '@localgov_theme_croydon/system/header.html.twig' with {'page': page, 'border': true} %}
{% endblock %}

{% block content %}
  {% if page.content_top %}
  <div class="col-sm-12">
    {{ page.content_top }}
  </div>
  {% endif %}

  {% if has_sidebar_first %}
    <div id="sidebar-first" class="column sidebar col-sm-4">
      <aside class="section" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    </div>
  {% endif %}

  <main id="content" role="main"{{ content_attributes.addClass(content_classes, 'mt-0') }}>
      <a id="main-content" tabindex="-1"></a>
      {{ page.content }}
  </main>

  {% if has_sidebar_second %}
    <div id="sidebar-second" class="column sidebar col-sm-4">
      <aside class="section" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    </div>
  {% endif %}

  {% if page.content_bottom %}
  <div class="col-sm-12">
    {{ page.content_bottom }}
  </div>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include '@localgov_theme_croydon/system/footer.html.twig' with {'page': page, 'border': true} %}
{% endblock %}